<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}Ma liste de Courses{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include 'component/_navbar.html.twig' %}
        </header>
            {% for category, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}<a class="lien" href="{{ path('category_index') }}"><i class="far fa-arrow-alt-circle-left"></i>retour</a><br>
                    </div>
                {% endfor %}
            {% endfor %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
